body{
	border-top: 3px solid #ff5028;
	margin: 0px;
	text-align: center;
	font-family: 'Montserrat', sans-serif;
}

.container {
	max-width: 500px;
	width: 90%;
	margin: 40vh auto 0;
}

#call {
	background-color:rgba(255, 80, 40, 1);
	position:absolute;
	color:white;
	top:-15px;
	padding: 5px;
}

.fa {
	color: rgba(0,0,0,0.7);
	margin: 0 10px;
}

.fa:hover {
	color: rgba(255, 80, 40,1);
}

#connect {
	position:absolute;
	top:35px;
	width: 100%;
}

#connect a {
	text-decoration: none;
}

.footer {
	position:fixed;
	bottom:0px;
	padding:5px;
	background-color: rgba(255, 80, 40, 1);
	width:100%;
	text-align:center;
	color: white;
	font-weight:900;
}




