html {
	background-color:#cccccc;
	text-align:center;
	color:black;
	position:absolute;
	width: 100%;
}

.container {
		font-family: 'museo-sans-rounded';
		padding-bottom: 150px;
}


.bio {
	margin-top: 50px;
	margin-bottom: 150px;
	line-height: 1.4em;
}

.parallax {
	height:550px;
	overflow: hidden;
}

.parallax-background {
  height: 600px;
}

.parallax .fa {
	color: rgba(255,255,255,0.7);
	margin: 15px;
}

.parallax .fa:hover {
	color: #ffffff;
}

ul li {
  list-style: none;
  overflow: hidden;
  height: 500px;
  position:relative;
}

ul {
  margin:0;
  padding:0;
}

h1 {
	font-family: 'museo-sans-rounded';
  font-weight: 900;
  font-size: 90px;
  text-transform:uppercase;
}

ul li .text {
  position: absolute;
  top: 100px;
  text-align:center;
  width:100%;
  color:rgba(255,255,255,0.7);
}

.fancybox-thumb img {
	max-height: 200px;
	box-shadow: 2px 2px 2px rgba(0,0,0,0.4);
	margin-right:10px;
	margin-bottom: 5px;
}

.section-title {
	background-color:#ffffff;
	padding:20px;
	position:absolute;
}

#gallery {
	padding-top:100px;
	border-top: 1px solid #999999;
}


.photo2 {
  background-image:url('/images/header.png');
  background-size: cover;
  background-position: -35 -175px;
}

.footer {
	position:absolute;
	bottom:0px;
	padding:5px;
	background-color: rgba(0,0,0,0.3);
	font-family: 'museo-sans-rounded';
	width:100%;
	text-align:center;

}
